body{
  background: whitesmoke;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 1.1em;
}

img{
  width: 100%;
  height: 100%
}

.container {
  /*max-width: 1500px;*/
  height: 300vh;
  min-width: 0;
  min-height: 0;
  padding-left: 2em;
  padding-right: 2em;

  align-items: center;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.1fr 0.9fr 1fr 0.9fr 0.1fr;
  grid-gap: 2em;
  grid-template-areas: 
    "nav nav"
    "c1_txt c1_img"
    "c2_txt c2_img"
    "c3_txt c3_img"
    "footer footer";
}

.card{
  border: 1px solid blue; /* for testing */
}

.txts{
  text-align: center;
}

nav{
  grid-area: nav;
  background-color: black;
  color: whitesmoke;
}

.c2{
  background-color: black;
  color: whitesmoke;
}

#txt1 {grid-area: c1_txt;}
#txt2 {grid-area: c2_txt;}
#txt3 {grid-area: c3_txt;}
#img1 {grid-area: c1_img;}
#img2 {grid-area: c2_img;}
#img3 {grid-area: c3_img;}

footer{
  grid-auto-flow: footer;
  background-color: black;
  color: whitesmoke;
}
